<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
    
            <h2>Evaluación por Dependencias</h2>
            
            <h1>Agregar Evidencias</h1>

            <div>
                <label for="">Selecionar Código de evidencia</label><div class="form-group-items">
                    <div>
                        <select name="Evaluación">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Buscar</button>
            </div>

            <div>
                <label for="">Seleccionar la Evaluación</label><div class="form-group-items">
                    <div>
                        <select name="Evaluación">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>


            <div>
                <label for="">Área</label><div class="form-group-items">
                    <div>
                        <select name="areas">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <label for="">Departamento</label><div class="form-group-items">
                    <div>
                        <select name="Departamento">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>


            <div>
                <label for="">Funcionario Responsable</label>
                <input type="text">
            </div>
           
            <div>
                <label for="">Componente</label><div class="form-group-items">
                    <div>
                        <select name="Componente">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <label for="">Eje por Componente</label><div class="form-group-items">
                    <div>
                        <select name="Componente">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <label for="">Descripcion de evidencia solicitada</label>
                <label></label>
            </div>

            <div>
            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Requerida</label><br>
            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Opcional</label><br>
            </div>
            <div>
                <label for="">Enlace evidencia</label>
                <input type="text">
            </div>

            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Editar</button>
            </div>
            
          
      
    </div>
</div>
</div>
</div>