<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
        <div class="wrapper-form">
       
            <h2>Asignar un Rol a un Usuario</h2>
            <label for="">Identificación de Usuario:
                <div class="form-group-items">
                    <div>
    
                        <select name="Roles">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </label>
            <label for="">Nombre de Usuario</label>
            <input type="text">
        
            <label for="">Apellidos del Usuario</label>
            <input type="text">
        
            <label for="">Nombre de Área</label>
            <input type="text">
        
            <label for="">Nombre del Departamento</label>
            <input type="text">
        
        
            <label for="">Rol:
                <div class="form-group-items">
                
                    <select name="Roles">
                        <option value="1">Administrador</option>
                        <option value="2">Encargado</option>
                        <option value="3">Colaborador</option>
                    </select>
                </div>
            </label>
                

            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Asignar Rol</button>
            </div>
  
     </div>
</div>
</div> 
