<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">cd
        <form action="">
            <h2>Asignar un Rol a un Usuario</h2>
            <label for="">Identificación de Usuario:</label>
                <div class="form-group-items">
                    <div>
    
                        <select name="Roles">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
        </p>
            <label for="">Nombre de Usuario</label>
            <input type="text">
        </p>
            <label for="">Apellidos del Usuario</label>
            <input type="text">
        </p>
            <label for="">Nombre de Área</label>
            <input type="text">
        </p>
            <label for="">Nombre del Departamento</label>
            <input type="text">
        </p>
            <label for="">Rol:<div class="form-group-items"></label>
                    <div>
                        <select name="Roles">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                

            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Crear Rol</button>
            </div>
            
        </form>
    </div>
</div>
</div>
</div> 