<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
    
            <h2>Periodos</h2>
            

            <div>
                <label for="">Código del periódo</label>
                <input type="text">
            </div>

            <div>
                <label for="">Fecha de Inicio</label>
                <input type="date">
            </div>

            <div>
                <label for="">Fecha de fin</label>
                <input type="date">
            </div>

            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Crear peridodo</button>
            </div>
            
            <div>
                <table class="default">

                    <tr>
                  
                      <th scope="row">Código</th>
                  
                      <th>Fecha de Inicio</th>
                  
                      <th>Fecha de fin</th>
                    
                      <th></th>
                      
                      <th></th>
                  
                    </tr>
                  
                    <tr>
                  
                      <th>1Dp</th>
                  
                      <td>09/09/2021</td>

                  
                      <td>09/12/2021</td>

                      <td><button  class="my-btn my-btn-primary">Modificar</button></td>
                  
                      <td><button  class="my-btn my-btn-primary">Eliminar</button></td>
                    </tr>
                  
                    
                  </table>
            </div>
      
    </div>
</div>
</div>
</div>