<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
    
            <h2>Crear rol</h2>
            <div>
            <label for="">Código  del Rol</label>
            <input type="text">
            </div>
            <div>
            <label for="">Nombre del rol</label>
            <input type="text">
            </div>
            <div>
            <label for="">Seleccionar Área
                
                <div class="form-group-items">
                <div>
                    <select name="areas">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                    </select>
                </div>
            </div>
             </label>
            
            
            <label for="">Seleccionar departamento</label><div class="form-group-items">
                    <div>
                        <select name="departamentos">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>

                    </div>
            <div> 

            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Crear Rol</button>
            </div>
            
      
    </div>
</div>
</div>
</div>
