

<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
        <form action="">
            <h2>Crear Roles</h2>
            <label for="">Nombre de Area</label>
            <input type="text">

            <label for="">Nombre Departamento</label>
            <input type="text">

            <label for="">Codigo de Rol</label>
            <input type="text">

            <label for="">Nombre de Rol</label>
            <input type="text">

            <div class="btn-group">
                <button class="my-btn my-btn-primary">Crear Rol</button>
            </div>
            
        </form>
    </div>
</div>
</div>
</div>
