

<body class="body">
  <nav>
      <nav class="nav-bar">
          <ul class="menu">
              <li class="nav-item"><a href="#" class="nav-link" href="#">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Roles</a>
                  <ul class="sub-menu">
                      <a [routerLink]="['/Roles/asignarrol']" routerLinkActive="router-link-active"  class="nav-sub-link">Crear Rol</a>
                      <a href="#" class="nav-sub-link">Asignar Rol</a>
                      <a href="#" class="nav-sub-link">Editar Rol</a>
                  </ul>
              </li>
              <li class="nav-item"><a href="#" class="nav-link">Areas</a>
                <ul class="sub-menu">
                  <a href="#" class="nav-sub-link">Crear Area</a>
                  <a href="#" class="nav-sub-link">Asignar Area</a>
                  <a href="#" class="nav-sub-link">Editar Area</a>
              </ul>
              
              </li>
              <li class="nav-item"><a href="#" class="nav-link">Departamentos</a>
                <ul class="sub-menu">
                  <a href="#" class="nav-sub-link">Crear Departamento</a>
                  <a href="#" class="nav-sub-link">Asignar Departamento</a>
                  <a href="#" class="nav-sub-link">Editar Departamento</a>
              </ul>
              </li>


              <li class="nav-item"><a href="#" class="nav-link">Evaluaciones</a>
                <ul class="sub-menu">
                  <a href="#" class="nav-sub-link">Completar Evaluacioin</a>
                  <a href="#" class="nav-sub-link">Crear Evaluacion</a>
                  <a href="#" class="nav-sub-link">Listar Evidencias</a>
                  <a href="#" class="nav-sub-link">Modificar</a>
              </ul>
              </li>
              <li class="nav-item"><a href="#" class="nav-link">Periodos</a>
                <ul class="sub-menu">
                  <a href="#" class="nav-sub-link">Crear Periodo</a>
                  <a href="#" class="nav-sub-link">Asignar Periodo</a>
                  <a href="#" class="nav-sub-link">Editar Periodo </a>
              </ul>
              
              
              </li>
              <li class="nav-item"><a href="#" class="nav-link">Perfil</a>
                  <ul class="sub-menu">
                      <li class="nav-sub-item"><a href="#" class="nav-sub-link">Mi Perfil</a></li>
                      <li class="nav-sub-item"><a href="#" class="nav-sub-link">Cambiar Clave</a></li>
                      <li class="nav-sub-item"><a href="#" class="nav-sub-link">Salir</a></li>
                  </ul>
              </li>
          </ul>

      </nav>
      <!--<span class="nav-btn"><i class="fas fa-grip-lines"></i></span>-->
      <div class="nav-btn" id="nav-btn">
          <div class="icon"></div>
      </div>
  </nav>
  <div class="wrapper">
   
  </div>

</body>






<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            
            Control Interno
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">

            <a [routerLink]="['/registro']" routerLinkActive="router-link-active"   class="nav-link active">Registro</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" >Sobre Nosotros</a>
          </li>

          <li class="nav-item">
            <a class ="nav-link" >Roles
              <ul>
                <a class="submenu">Crear Rol</a>
                <a   class="submenu">Asignar Rol</a>
                <a class="submenu">Editaar Rol</a>
              </ul>

            </a>




          </li>
        

          <li class="nav-item">
            <a class="nav-link" href="#">Areas</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Departamentos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Periodos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Prueba git</a>
          </li>


          
   
        </ul>
      </div>
       <button (click)="Login()">Iniciar Sesion</button> 
    </div>
  </nav>
-->
    

