
<body>
    <header class="header">
        <h1>Sistema de control interno</h1>
    </header>
<div class="wrapper-img">
    <div class="wrapper">
        <div class="wrapper-form">
            <form action="">
                <h2>Login</h2>
                <label for="">Identificacion</label>
                <input type="text">

                <label for="">Password</label>
                <input type="password">

                <div class="btn-group">
                    <button (click)="Menu()"  class="my-btn my-btn-primary">LogIn</button>
           
                </div>
                
            </form>
        </div>
    </div>
 </div>>

</body>