

<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
        <form action="">
            <h2>Login</h2>
            <label for="">Identificacion</label>
            <input type="text">

            <label for="">Password</label>
            <input type="password">

            <div class="btn-group">
                <button class="my-btn my-btn-primary" (click)= "Menu()">Ingresar</button>
            </div>
            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Registrar</button>
            </div>
            
            
        </form>
    </div>
</div>
</div>
</div>

  
    
