<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
    
            <h2>Crear Área</h2>
            <div>
            <label for="">Código  del área</label>
            <input type="text">
            </div>
            <div>
            <label for="">Nombre del área</label>
            <input type="text">
            </div>
        
           
        

            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Crear Área</button>
            </div>
            
      
    </div>
</div>
</div>
</div>