<p</p>
<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
        <form action="">
            <h2>Crear área</h2>
            <div>
            <label for="">Nombre del área</label>
            <input type="text">
            </div>
            <div>
            <label for="">Nombre del área</label>
            <input type="text">
            </div>
          

            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Ingresar</button>
            </div>
            
        </form>
    </div>
</div>
</div>
</div> 