

<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
    <div class="wrapper-hero">
        <div class="hero">
            <div class="hero-info">
                <p>
                    El Sistema de Control Interno es un conjunto organizado de disposiciones contenidas en la Ley de Control Interno 8292 y en las Normas de Control Interno para el Sector Público (2009), las cuales son materializadas mediante las acciones ejecutadas por la administración de una organización, diseñadas para proporcionar seguridad en la consecución de los objetivos organizacionales.
                </p>
                <div class="hero-btns">
                    <button class="my-btn my-btn-primary" (click)= "login()">Ingresar</button>
                    <button  class="my-btn my-btn-primary">Registrarse</button>
                </div>
            </div>
            <div class="hero-logo">
                <img src="" alt="">
            </div>
        </div>
    </div>
</div>

      
            
   
