
<body>
    <header class="header">
        <h1>Sistema de control interno</h1>
    </header>
<div class="wrapper-img">
    <div class="wrapper">
        <div class="wrapper-form">
            <form action="">
                <h2>Crear Departamento por Area</h2>
                <label for="">Codigo de Departamento</label>
                <input type="text">

                <label for="">Nombre del Departamento</label>
                <input type="text">

                

                <div class="btn-group">
               
           
                </div>
                
            </form>
        </div>
    </div>
 </div>>

</body>