<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
    
            <h2>Modificar Departamento</h2>
            <div>
            <label for="">Seleccionar Código del Departamento <div class="form-group-items">
                <div>
                    <select name="Departamento">
                        <option value="1"></option>
                        <option value="2"></option>
                        <option value="3"></option>
                    </select>
                </div>
            </div>
             </label>
            </div>
            
           
             <div class="btn-group">
                <button  class="my-btn my-btn-primary">Buscar</button>
            </div>

            <div>
                <label for="">Seleccionar área</label><div class="form-group-items">
                    <div>
                        <select name="areas">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>
                <div>
                    <label for="">Nombre del Departamento</label>
                    <input type="text">
                    </div>

            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Modificar</button>
            </div>
            
            <div>
                <table class="default">

                    <tr>
                  
                      <th scope="row">Código</th>
                  
                      <th>Nombre</th>
                  
                      <th>Área</th>
                    
                      <th></th>
                      
                  
                    </tr>
                  
                    <tr>
                  
                      <th>1Dp</th>
                  
                      <td>Dep 1</td>

                  
                      <td> 1</td>

                      <td><button  class="my-btn my-btn-primary">Eliminar</button></td>
                  
                  
                    </tr>
                  
                    
                  </table>
            </div>
      
    </div>
</div>
</div>
</div>