<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
    
            <h2>Crear Evaluación</h2>
            

            <div>
                <label for="">Código de Evaluación</label>
                <input type="text">
            </div>

            <div>
                <label for="">Seleccionar periodo</label><div class="form-group-items">
                    <div>
                        <select name="peridods">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Crear Evaluación</button>
            </div>
            
            <div>
                <table class="default">

                    <tr>
                  
                      <th scope="row">Código Evaluación</th>
                  
                      <th>Periodo</th>
                    
                      <th></th>
                      
                      <th></th>
                  
                    </tr>
                  
                    <tr>
                  
                      <th>1Dp</th>
                  
                      <td>09/09/2021-09/12/2021</td>


                      <td><button  class="my-btn my-btn-primary">Modificar</button></td>
                  
                      <td><button  class="my-btn my-btn-primary">Eliminar</button></td>
                    </tr>
                  
                    
                  </table>
            </div>
      
    </div>
</div>
</div>
</div>