<header class="header">
    <h1>Sistema de control interno</h1>
</header>

<div class="wrapper-img">
<div class="wrapper">
    <div >
    <div class="wrapper-form">
    
            <h2>Evidencias por Dependencia</h2>
            

            <div>
                <label for="">Código Departamento</label><div class="form-group-items">
                    <div>
                        <select name="Departamento">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>


            <div>
                <label for="">Seleccionar la Evaluación</label><div class="form-group-items">
                    <div>
                        <select name="Evaluación">
                            <option value="1"></option>
                            <option value="2"></option>
                            <option value="3"></option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="btn-group">
                <button  class="my-btn my-btn-primary">Aceptar</button>
            </div>
            
            <h1>Evidencias</h1>
            <div>
                <table class="default">

                    <tr>
                  
                      <th scope="row">Componente</th>
                  
                      <th>Eje</th>
                    
                      <th>Descripción</th>
                      
                      <th>Contestada</th>

                      <th>Código de evidencia</th>

                      <th>Enlace de evidencia</th>

                      <th>Ponderado</th>
                  
                    </tr>
                  
                  
                  </table>
            </div>
      
    </div>
</div>
</div>
</div>